:root {
    --color-primary: #eb5440;
    --color-secondary: #4a4b4c;
    --color-tertiary: #e8e8e8;
    --color-quaternary: #c3c3c3;
    --color-background-1: #f6f6f6;
    --color-background-2: #ffffff;

    --text-primary: #000000;
    --text-secondary: #4a4b4c;
    --text-hyperlink: #067bc2;

    --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.1);

    --desktop-content-width: 80%;
    --mobile-page-padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--color-background-1);
    box-sizing: border-box;
}

p,
h3,
h2 {
    margin: 0;
    padding: 0;
}
